body { background-color: #E4D8EB; }

a:link, .tufte-underline, .hover-tufte-underline:hover { text-decoration: none; background: 
-webkit-linear-gradient(#E4D8EB, #E4D8EB), -webkit-linear-gradient(#E4D8EB, #E4D8EB), 
-webkit-linear-gradient(currentColor, currentColor); background: linear-gradient(#E4D8EB, #E4D8EB), 
linear-gradient(#E4D8EB, #E4D8EB), linear-gradient(currentColor, currentColor); -webkit-background-size: 
0.05em 1px, 0.05em 1px, 1px 1px; -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px; background-size: 
0.05em 1px, 0.05em 1px, 1px 1px; background-repeat: no-repeat, no-repeat, repeat-x; text-shadow: 0.03em 0 
#E4D8EB, -0.03em 0 #E4D8EB, 0 0.03em #E4D8EB, 0 -0.03em #E4D8EB, 0.06em 0 #E4D8EB, -0.06em 0 #E4D8EB, 
0.09em 0 #E4D8EB, -0.09em 0 #E4D8EB, 0.12em 0 #E4D8EB, -0.12em 0 #E4D8EB, 0.15em 0 #E4D8EB, -0.15em 0 
#E4D8EB; background-position: 0% 93%, 100% 93%, 0% 93%; }
